body * {
    margin: 0;
    bottom: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
}

/* HEADER */

header {
    background-color: #000000;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    opacity: 1;
}

header h1 {
    padding: 10px;
}

.iguana-header {
    width: 100%;
}

/*DESC-SECTION*/

.desc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.imagen-iguana {
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

}

.texto-descripcion {
    font-size: 16px;
    font-weight: lighter;
}

.iguana {
    text-align: center;
    justify-content: center;
    display: flex;
}

@media screen and (max-width: 1400px) {
    .iguana {
        width: 50%;
      }
}

@media screen and (max-width: 767px) {
    .iguana {
        width: 130%;
      }
}

/* CARACTERISTICAS */

.icons-section {
    background-color: #1E1A13;
    text-align: center;
}

.iconos {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.icons-section h2 {
    font-size: 47px;
}

.icons-section p {
    font-size: 25px;
    font-weight: lighter;
}

/*TRIO DE IMAGENES */
.trio {
    background-color: #000000;
    width: 100%;
}

.trio-iguanas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    .imagen-iguana2 {
        width: 80%;
      }
}

@media screen and (max-width: 576px) {
    .imagen-iguana2  {
        width: 50%;
      }
}

/*FOOTER*/

.footer {
    background-color: #1E1A13;
    font-size: 15px;
    padding: 40px;
    text-align: center;
    font-weight: lighter;
}

.footer a {
    text-decoration: none;
}
